<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.codeqingkong.mapper.RoleMapper">
    <resultMap id="resultUser" type="com.github.codeqingkong.model.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="is_deleted" property="hasDeleted"/>
        <result column="create_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>
    <insert id="insertRole">

    </insert>
    <update id="deleteRole">

    </update>
    <update id="updateRole">

    </update>
    <select id="getOneRoleById" resultMap="resultUser" useCache="false">

    </select>
</mapper>